/* imports */ 
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

/* BODY */ 
body {
  background-color: #282c34;
}

/* NAVBAR */ 
.navBar {
  background-color: #61dafb;
  position: relative;
  padding-right: 30vmin;
  padding-left: 30vmin;
  padding-top: 15px;
}

.img-calyx {
  height: 15vmin;
  background-color: transparent;
  display: block;
  float: right;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li-left {
  float: left;
}

.li-right {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #282c34;
  padding-right: 5vmin;
  padding-left: 5vmin;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  font-size: calc(10px + 2vmin);
  font-family: 'Josefin Sans', cursive;
}

.nav-line {
  height: 20px;
  background-color: #282c34;
}
/* CART */ 

.cart-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.cart-icon {
  background-color: #61dafb;
  border-radius: 50%;
  padding: 10px;
  right: 0;
  color: white;
}


.cart-number {
  background-color: red;
  text-align: center;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
  margin: auto;
  padding-bottom: 2px;
}

.cart-num-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 5px;
}


/* ITEM */ 
.card {
  border-radius: 10px;
  background-color: white;
  margin: auto;
}

.img-item {
  height: 200px;
  width: 200px;
  margin: 10px;
}

.item-list {
  margin-top: 30px;
  display: flex;
}

.item-text {
  margin: 10px;
}